<div class="space-y-1">
  <div class="relative">
    <span class="inline-block w-full rounded-md shadow-sm">
      {{!-- Select trigger button --}}
      <button type="button" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label"
        class="{{if @selected "text-gray-400" "text-gray-600"}} relative w-full rounded-md border border-gray-800 bg-gray-800 pl-3 pr-10 py-2 text-left focus:outline-none focus:shadow-outline transition ease-in-out duration-150 sm:text-xl sm:leading-normal"
        data-test-article-select
        {{on "click" this.toggleOpen}}
        {{on-click-outside this.close}}>

        {{!-- Wikipedia Icon and current item --}}
        <div class="flex items-center space-x-3">
          <img
            src="/assets/wikipedia_w.svg"
            alt="Wikipedia" class="flex-shrink-0 h-6 w-6 p-1 rounded-full bg-gray-300">
          <span class="block truncate">
            {{this.selectedTitle}}
          </span>
        </div>

        {{!-- Dropdown Icon --}}
        <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
          <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="none" stroke="currentColor">
            <path d="M7 7l3-3 3 3m0 6l-3 3-3-3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
      </button>
    </span>

    {{!-- Select popover, show/hide based on select state.  --}}
    {{#if this.isOpen}}
      <PageHome::ArticlesPopover
        @articles={{@articles}}
        @selected={{@selected}}
        @onSelect={{@onSelect}}
      />
    {{/if}}
  </div>
</div>
